
<head>

<link href='css/OpenSans600.css' rel='stylesheet' type='text/css'>
<link href='css/friendship-logging.css' rel="stylesheet" type="text/css">
<style type="text/css">
.hor-line {
	stroke: #336699;
	stroke-width: 1;
	opacity: 0.75;
}

.dot-circ {
	stroke-width: 2;
	fill: white;
}

#friendship-logging {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
</style>
</head>
<div class="container">

	<div
		style="padding-top: 20px; color: #000; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, .6);">
		<p class="lead">
		<h2>You can see the person's followings' changes over time.</h2>
		</p>
		<p class="lead">
		<h3 ng-show="loaded==true">Click on the circles to see the
			details about followings person.</h3>
		</p>
	</div>
	<div class="
			col-lg-6" style="margin-top: 100px;"
		ng-show="loading==null">
		<h3>Type instagram user's link here...</h3>
		<div class="input-group">
			<input type="text" class="form-control" ng-model="userURI"
				placeholder="Type instagram user's link here... "> <span
				class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="getReport()">Go!</button>
			</span>
		</div>
		<!-- /input-group -->
	</div>
	<div id="friendship-logging"></div>

	<div class="loading" ng-show="loading!=null">
		<div class="sk-spinner sk-spinner-rotating-plane"></div>

	</div>
</div>

